<!--/UI navigation/-->
<section class="navigation" data-navigation>
  <div class="container container_full">
    <ul class="navigation__menu" data-navigation-menu>
      <li class="navigation__menu__item">
        <a href="#" class="navigation__menu__item__link">Home</a>
      </li>
      <li class="navigation__menu__item">
        <a href="#" class="navigation__menu__item__link navigation__menu__item_active">About</a>
      </li>
      <li class="navigation__menu__item navigation__menu__item_dropdown dropdown" data-dropdown>
        <a href="#" class="navigation__menu__item__link dropdown__item" data-dropdown-btn>Services</a>
        <div class="dropdown__menu">
          <a href="#" class="dropdown__menu__item">Service #1</a>
          <div class="dropdown__menu__divider"></div>
          <a href="#" class="dropdown__menu__item">Service #2</a>
        </div>
      </li>
      <li class="navigation__menu__item navigation__menu__item_dropdown dropdown" data-dropdown>
        <a href="#" class="navigation__menu__item__link dropdown__item" data-dropdown-btn>Products</a>
        <div class="dropdown__menu">
          <a href="#" class="dropdown__menu__item">Product #1</a>
          <div class="dropdown__menu__divider"></div>
          <a href="#" class="dropdown__menu__item">Product #2</a>
        </div>
      </li>
      <li class="navigation__menu__item">
        <a href="#" class="navigation__menu__item__link">Contacts</a>
      </li>
      <li class="navigation__menu__item navigation__menu__item_right">
        <a href="#" class="navigation__menu__item__link">Sign In</a>
      </li>
    </ul>
  </div>
</section>
