*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: $bg;
  padding: $body-padding;
  font-size: $font-size;
  line-height: $line-height;
  @media (max-width: $media-landscape) {
    padding: $body-padding-landscape;
  }
}

p {
  margin-bottom: $base-horizontal;
}

a {
  color: $secondary;
  text-decoration: underline;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
}

.h1, h1 {
  font-size: 2.5rem;
}

.h2, h2 {
  font-size: 2rem;
}

.h3, h3 {
  font-size: 1.6rem;
}

.h4, h4 {
  font-size: 1.4rem;
}

.h6, h5 {
  font-size: 1.2rem;
}

b, strong {
  font-weight: 700;
}

small {
  font-size: .8em;
}

hr {
  border: 0px;
  border-top: 1px solid $hr-color;
  padding: 0;
  margin: 0;
  max-width: 100%;
  display: inline-block;
  &.hr-auto {
    margin: calc(#{$base-vertical} * 2) auto;
  }
  &.hr-sm {
    width: 20px;
  }
}

.paragraph {
  margin-bottom: $base-vertical;
}

.lead {
  font-size: 1.2rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
