// Global variable

// Colors
$white: #000;
$black: #000;
$gray: #cccccc;
$grayDark: #333333;
$primary: #000;
$secondary: #007bff;
$secondary-alt: #80bdff;
$success: #28a745;
$error: #dc3545;
$link: $secondary;
$bg: whitesmoke;

// Global document wrapper
$base-color: $black;

// Global Navigation
$navigation-background: $grayDark;

// Sass color functions
// darken( $base-color, 10% )
// lighten( $base-color, 10% )
// saturate( $base-color, 20% )
// desaturate( $base-color, 20% )
// adjust-hue( $base-color, 20% )
// rgba( $base-color, .7 )
// tint( $base-color, 10% )
// shade( $base-color, 10% )
// border: 1px solid darken($base-color, 20%);
// text-shadow: 0 -1px 0 darken($base-color, 10%);
// @include box-shadow(inset 0 1px 0 lighten($base-color, 20%));

// container
$container-width: 1140px;

// Grid var
$col-gap: 1em;

// Media

$media-phones: 600px;
$media-landscape: 760px;
$media-tablets: 960px;
$media-desktops: 1200px;

// Body
$body-padding: 0px;
$body-color: $black;

// Fonts
$font-size: 15px;
$line-height: 1.1;

// HR
$hr-color: $gray;

// Border
$border-color: $gray;
$border-base: 1px solid $border-color;

// Row, base padding
$base-padding: 15px;
$base-vertical: $base-padding;
$base-horizontal: $base-padding;

// Item
$item-vertical: 10px;
$item-horizontal: $base-padding;

// Button
$btn-vertical: 10px;
$btn-horizontal: $base-padding;
$btn-radius: 0px;
$btn-background: transparent;

// Form
$form-padding: $base-padding;
$form-vertical: 10px;
$form-horizontal: $base-padding;
$form-border: $gray;
$form-border-hover: $secondary-alt;
$form-box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);

// Modal
$modal-out: rgba(0, 0, 0, 0.4);
$modal-bg: white;
$modal-padding: 30px;
$modal-width: 600px;
$modal-close: $black;

// Panel
$panel-background: rgba(255, 255, 255, 0.6);
